<div class="page-header">
<h3>Characters</h3>
</div>

<div></h4>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4><a href="#">Link</a></h4>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4>Zelda</h4>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4>Ganondorf</h4>
		</div>
</div>