<div class="page-header">
	<h3>Games</h3>
</div>

<div class="page-header">
	<div>
		<h4>Console Games</h4>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4><a href="#">Breath of the Wild</a></h4>
			This game alone will sell the Switch
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4>Skyward Sword</h4>
			Epona was a duck all along??
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4>Twilight Princess</h4>
			The Link the fangirls needed.
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h4>Windwaker</h4>
			Epona is a boat, not a duck.
		</div>
	</div>
</div>
<div class="page-header">
	<div>
		<h4>Handheld Games</h4>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>Oracle of Ages/Seasons</h4>
			Harps, rods, capes, kangaroos.
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>A Link Between Worlds</h4>
			Going between Hyrule and Lorule as frequently as my mood.
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>The Minish Cap</h4>
			Who would've thought Nintendo never recycled ideas?
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>Spirit Tracks</h4>
			"When I was a kid, I went outside adventuring, that's what Zelda is about, trains are the natural next step."
		</div>
	</div>
</div>

