<div class="page-header">
	<h3>Games</h3>
</div>

<div class="page-header">
	<div>
		<h4>Console Games</h4>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<div class="thumbnail">
  			<img src="img/botw.jpg" class="portrait" alt="Image" />
			</div>
			<h4><a href="#">Breath of the Wild</a></h4>
			This game alone will sell the Switch
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<div class="thumbnail">
  			<img src="img/skywardsword.jpg" class="portrait" alt="Image" />
			</div>
			<h4><a href="#">Skyward Sword</a></h4>
			Epona was a duck all along??
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<div class="thumbnail">
  			<img src="img/twilightprincess.jpg" class="portrait" alt="Image" />
			</div>
			<h4><a href="#">Twilight Princess</a></h4>
			The Link the fangirls needed.
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
			<div class="thumbnail">
  			<img src="img/windwaker.jpg" class="portrait" alt="Image" />
			</div>			
			<h4><a href="#">Windwaker</a></h4>
			Epona is a boat, not a duck.
		</div>
	</div>
</div>
<div class="page-header">
	<div>
		<h4>Handheld Games</h4>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>Oracle of Ages/Seasons</h4>
			Harps, rods, capes, kangaroos.
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>A Link Between Worlds</h4>
			Going between Hyrule and Lorule as frequently as my mood.
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>The Minish Cap</h4>
			Who would've thought Nintendo never recycled ideas?
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>Spirit Tracks</h4>
			"When I was a kid, I went outside adventuring, that's what Zelda is about, trains are the natural next step."
		</div>
	</div>
</div>




<div class="page-header">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div>
				<h4>Breath of the Wild</h4>
			</div>
			<div class="thumbnail">
  			<img src="img/botw.jpg" class="portrait" alt="Image" />
			</div>
			<div>
				<p>Might place a 5 star review underneath thumbnail</p>
			</div>
			<div>
				<a href="#">Back to top</a>
			</div>
			<div>
				<p>Clickable thumbnails that expand into full pictures of game here</p>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<p>Here I will place a synopsis/some thoughts on the game, aiming to mimic a wiki page, character page will be similar to this, although at the top of each character section I will put a table of contents for quick jumps</p>
		</div>
	</div>
</div>


<div class="page-header">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div>
				<h4>Breath of the Wild</h4>
			</div>
			<div class="thumbnail">
  			<img src="img/botw.jpg" class="portrait" alt="Image" />
			</div>
			<div>
				<p>Might place a 5 star review underneath thumbnail</p>
			</div>
			<div>
				<a href="#">Back to top</a>
			</div>
			<div>
				<p>Clickable thumbnails that expand into full pictures of game here</p>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<p>Here I will place a synopsis/some thoughts on the game, aiming to mimic a wiki page, character page will be similar to this, although at the top of each character section I will put a table of contents for quick jumps</p>
		</div>
	</div>
</div>
