<div class="page-header">
	<h3>Welcome to my Zeldiapedia site! Currently under heavy construction.</h3>
</div>

<div class="jumbotron">
	<p>
		Let's see what this looks like.
	</p>
	<div id="theCarousel" class="carousel slide" data-ride="carousel">

	<!-- Define how many slides to put in the carousel -->
	<ol class="carousel-indicators">
		<li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
			<li data-target="#theCarousel" data-slide-to="1"> </li>
			<li data-target ="#theCarousel" data-slide-to="2"> </li>
		</ol >

		<!-- Define the text to place over the image -->
		<div class="carousel-inner">
			<div class="item active" >
				<div class ="slide1"></div>
				<div class="carousel-caption">
					<p>Countdown going to go here</p>
				</div>
			</div>
			<div class="item">
				<div class="slide2"></div>
				<div class="carousel-caption">
					<p>Games</p>
					<p><a href="/games" class="btn btn-primary btn-sm">Go to games</a></p>
				</div>
			</div>
			<div class="item">
				<div class="slide3"></div>
				<div class="carousel-caption">
					<p>Characters</p>
				</div>
			</div>
		</div>

		<!-- Set the actions to take when the arrows are clicked -->
		<a class="left carousel-control" href="#theCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"> </span>
		</a>
		<a class="right carousel-control" href="#theCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
</div>

